@model IEnumerable<PetAmigoMVC.Models.Doacao>

@{
    ViewData["Title"] = "Adoção";
}

@*<h1>Adoção</h1>*@

@*<p>
    <a asp-action="Create">Doar Pet</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <img width="250px" height="150px" src="@Html.DisplayFor(modelItem => item.Imgurl)">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/icons8-edit.gif" alt="Editar"></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/icons8-search.gif" alt="Detalhes"></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/icons8-delete.gif" alt="Deletar"></a>
                </td>
            </tr>
        }

    </tbody>

</table>
@*divisor de linhas*@
<hr class="featurette-divider">
